# Base service configuration
apiVersion: v1
kind: Service
metadata:
  name: flask-app
  labels:
    app: flask-gitops
    component: backend
spec:
  type: ClusterIP
  
  selector:
    app: flask-gitops
    component: backend
  
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 5000
